<!DOCTYPE html>
<html>
<head>
    <title>EISK MVC (Mobile) - @ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="@Url.Content("~/Images/favicon.ico")" />
    <!-- main CSS -->
    <link href="@Url.Content("~/content/themes/default/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/themes/default/960.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/themes/default/text.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/themes/default/layout.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/themes/default/bread-crumb.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/themes/default/buttons.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/themes/default/forms.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/themes/default/grids.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/themes/default/overcast/jquery-ui-1.8.18.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/themes/default/mvc-default.css")" rel="stylesheet" type="text/css" />
    <!-- mobile related CSS to be placed after main CSS -->
    <link rel="stylesheet" href="@Url.Content("~/content/themes/default/mobile/jquery.mobile/jquery.mobile-1.0.1.min.css")" />
    <link href="@Url.Content("~/content/themes/default/mobile/mobile.css")" rel="stylesheet" type="text/css" />
    <!-- main scripts -->
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery-1.6.4.js")"></script>
    <!-- mobile related scripts to be placed after main scripts -->
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.mobile-1.0.1.min.js")"></script>
    <script type="text/javascript">
        $(document).bind("mobileinit", function () {
            // As of Beta 2, jQuery Mobile's Ajax navigation does not work in all cases (e.g.,
            // when navigating from a mobile to a non-mobile page), hence disabling it.
            $.mobile.ajaxEnabled = false;
        });
    </script>
</head>
<body>
    <div data-role="page" data-theme="a">
        <div data-role="header">
            @Html.Partial("_ViewSwitcher")
        </div>
        <div data-role="content">
            @Html.RenderMessages()
            @RenderBody()
        </div>
    </div>
</body>
</html>
